a{text-decoration: none;}ul,dl{margin: 0;padding: 0;}li{list-style: none;}*,*::before,*::after{box-sizing: border-box;}h1,h2,h3,h4,h5,h6,p,dd{margin: 0;}a{-webkit-tap-highlight-color: transparent;}

/*  fundamental style */
html, body{
    font-size: 20px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'SFProDisplay-Regular', sans-serif;
    color: #2F3035;
}

.btn-all{
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    color:  #2F3035;
}

button{
    border: 0;
    background: none;
    padding: 0;
    outline: 0;
}

/* end  fundamental style */


/*  style for header */

.page-header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: 'SFProDisplay-Bold', sans-serif;
}

.menu__list-item{
    display: inline-block;
}

.menu__list-item + .menu__list-item{
    padding-left: 50px;
}

.location{
    width: 265px;
    line-height: 45px;
    padding-left: 30px;
    margin-right: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}

.location::before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background:url("../../img/logotip/location.svg")no-repeat;
    background-position: top center;
}

.user-panel{
    display: flex;
    justify-content:space-between;
    align-items: center;
    line-height: 0; 
}

.user-panel__item{
    margin-right: 10px;
}

.user-panel__item:last-child{
    margin-right: 15px;
}

.user-panel__link{
    display: inline-block;
}

.link-basket{
    position: relative;
}

.link-basket__num{
    width: 20px;
    height:20px;
    background-color: #1C62CD;
    position: absolute;
    color: #fff;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    bottom: -5px;
    right: -15px;
    border-radius: 50%;
}

.menu-categories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F0F4;
    line-height: 0;
}

.menu-categories__item{
    position: relative;
}

.menu-categories__link{
    display: inline-block;
    max-width: 130px;
    padding: 15px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
}

.menu-categories__link::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #1C62CD;
    left: auto;
    right: 0;
    bottom: -3px;
    transition: .3s;
}

.menu-categories__link:hover::after{
    content: "";
    left: 0;
    right: auto;
    width: 100%;
}

.menu-categories__link:hover{
    color: #070707;
}


/*  start section slide */

.block-slider{
    padding-top: 80px;
}

.block-slider__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-slider__slider{
    max-width: 870px;
}

.block-slider__slider-item{
    display: block;
    width: 870px;
    height: 400px;
}

.block-slider__slider-img{
    width: 100%;
    height: 100%;
}


/*  ====================================== */
/* redefine style for slide arrow and dots */


.block-slider__btn-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: none;
    border: 0;
    outline: 0; 
}

.block-slider__next{
    right: 15px;
}
.block-slider__prev{
    left: 15px;
}

.slick-dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    font-size: 0;
}

.slick-dots > li > button {
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
}

.slick-dots .slick-active > button{
    background-color: #fff;
}
/* =============================== */

.sale-card{
    display: block;
    max-width: 265px;
    text-align: center;
    position: relative;
    border: 1px solid #CDCDCD;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-card__slide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-card__info{
    padding: 8px 20px;
    color: #fff;
    background-color: #1C62CD;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sale-card__price-new{
    color: #1C62CD;
    font-family: 'Barlow-Bold', sans-serif;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 7px;
    margin-right: 8px;
    text-align: right;
    padding-right: 20px;
    position: relative;
    
}

.sale-card__price-new::after{
    content: "";
    width: 15px;
    height: 35px;
    position: absolute;
    right: 0;
    background: url("../../img/logotip/rub.svg")no-repeat;
    background-position-y: center;
}

.sale-card__price-old{
    font-family: 'Barlow-Regular', sans-serif;
    color: #C4C4C4;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    padding-right: 15px;
    position: relative;
    margin-right: 5px;
}

.sale-card__price-old::before{
    content: "";
    position: absolute;
    top: 0; 
    right: -15px;
    width: 100%;
    height: 100%;
    background: url("../../img/logotip/oldprice.svg")no-repeat;    
    background-size: cover;
    background-position: center;
}

.sale-card__price-old::after{
    content: "";
    position: absolute;
    right: 0;
    width: 8px;
    height: 17px;
    background: url("../../img/logotip/rubgrey.svg")no-repeat;
    background-position-y: center;
}

.sale-card__img{
    align-self: center;
}

.sale-card__img-title{
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}

.sale-card__sale-limit{
    padding: 25px 0;
    background-color: #F0F0F4;
}

.sale-limit__date{
    color: #1C62CD;
    font-family: 'Barlow-Bold', sans-serif;
}


