a{text-decoration: none;}ul,dl{margin: 0;padding: 0;}li{list-style: none;}*,*::before,*::after{box-sizing: border-box;}h1,h2,h3,h4,h5,h6,p,dd{margin: 0;}a{-webkit-tap-highlight-color: transparent;}

/*  fundamental style */
html, body{
    font-size: 20px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'SFProDisplay-Regular', sans-serif;
    color: #2F3035;
    overflow-x: hidden;
    min-width: 320px;
}

.btn-all{
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
a{
    color:  #2F3035;
    display: inline-block;
    color: inherit;
}

button{
    border: 0;
    background: none;
    padding: 0;
    outline: 0;
    color: inherit;
}

.price-bold{
    font-family: 'Barlow-Bold', sans-serif;
}
.price-regular{
    font-family: 'Barlow-Regular', sans-serif;
}
/* end  fundamental style */


/*  style for header */

.page-header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: 'SFProDisplay-Bold', sans-serif;
}

.mobile-menu-btn,
.menu-mobile-list,
.menu-mobile__list-line{
    display: none;
}

.menu__list-item{
    display: inline-block;
}

.menu__list-item + .menu__list-item{
    padding-left: 50px;
}

.location{
    width: 265px;
    line-height: 45px;
    padding-left: 30px;
    margin-right: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}

.location::before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background:url("../img/logotip/location.svg")no-repeat;
    background-position: top center;
}

.user-panel{
    display: flex;
    justify-content:space-between;
    align-items: center;
    line-height: 0; 
}

.user-panel__item{
    margin-right: 10px;
}

.user-panel__item:last-child{
    margin-right: 15px;
}

.user-panel__link{
    display: inline-block;
}

.link-basket{
    position: relative;
}

.link-basket__num{
    width: 20px;
    height:20px;
    background-color: #1C62CD;
    position: absolute;
    color: #fff;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    bottom: -5px;
    right: -15px;
    border-radius: 50%;
}

.menu-categories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F0F4;
    line-height: 0;
}

.menu-categories__item{
    position: relative;
}

.menu-categories__link{
    display: inline-block;
    max-width: 130px;
    padding: 15px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
}

.menu-categories__link::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #1C62CD;
    left: auto;
    right: 0;
    bottom: -3px;
    transition: .3s;
}

.menu-categories__link:hover::after{
    content: "";
    left: 0;
    right: auto;
    width: 100%;
}

.menu-categories__link:hover{
    color: #070707;
}


/*  start section slide */

.block-slider{
    padding-top: 80px;
}

.block-slider__inner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-slider__slider{
    max-width: 870px;
}

.block-slider__slider-item{
    display: block;
    width: 100%;
    height: 100%;
}

.block-slider__slider-img{
    width: 100%;
    height: 100%;
}


/* redefine style for slide arrow and dots */


.block-slider__btn-slide,
.block-product__btn-slide{
    position: absolute;
    top: 50%;
    z-index: 10;
    background: none;
    border: 0;
    outline: 0;
    line-height: 0; 
}

.block-slider__next{
    right: 15px;
}
.block-slider__prev{
    left: 15px;
}

.slick-dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    font-size: 0;
}

.slick-dots > li > button {
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
}

.slick-dots .slick-active > button{
    background-color: #fff;
}
/* ------------------------------------ */

.sale-card{
    display: block;
    max-width: 265px;
    text-align: center;
    position: relative;
    border: 1px solid #CDCDCD;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-card__slide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-card__info{
    padding: 8px 20px;
    color: #fff;
    background-color: #1C62CD;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sale-card__price-new{
    color: #1C62CD;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 7px;
    margin-right: 8px;
    text-align: right;
    padding-right: 20px;
    position: relative;
    
}

.sale-card__price-new::after{
    content: "";
    width: 15px;
    height: 35px;
    position: absolute;
    right: 0;
    background: url("../img/logotip/rub.svg")no-repeat;
    background-position-y: center;
}

.sale-card__price-old{
    color: #C4C4C4;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    padding-right: 15px;
    position: relative;
    margin-right: 5px;
}

.sale-card__price-old::before{
    content: "";
    position: absolute;
    top: 0; 
    right: -15px;
    width: 100%;
    height: 100%;
    background: url("../img/logotip/oldprice.svg")no-repeat;    
    background-size: cover;
    background-position: center;
}

.sale-card__price-old::after{
    content: "";
    position: absolute;
    right: 0;
    width: 8px;
    height: 17px;
    background: url("../img/logotip/rubgrey.svg")no-repeat;
    background-position-y: center;
}

.sale-card__img{
    align-self: center;
}

.sale-card__img-title{
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}

.sale-card__sale-limit{
    padding: 25px 0;
    background-color: #F0F0F4;
}

.sale-limit__date{
    color: #1C62CD;
    font-family: 'Barlow-Bold', sans-serif;
}


/*  section search and tabs */

.search-block{
    padding-top: 80px;
}

.search-block__tabs-btn{
    margin-bottom: 25px;
}

.tabs-btn__link{
    padding: 10px 25px;
    border-radius: 5px;
}

.tabs-btn__link.press-tab--active{
    background-color: #F0F0F4;
}

.search-block__content,
.search-block__content-item,
.content-item__form{
    width: 100%;
}

.content-item__form{
    display: flex;
    flex-direction: row;
}

/* style for all block tabs */
.press-tab-content{
    display: none;
}
.press-tab-content.press-tab-content--active{
    display: block;
}
/* ------------------------- */
.content-item__form-text{
    width: 100%;
    background-color: #F0F0F4;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 19px;
}

.content-item__form-text::placeholder{
    color: #656464;
}

.content-item__form-btn{
    font-family: 'SFProDisplay-Bold', sans-serif;
    background-color: #1C62CD;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 17px 40px 15px;
    color: #fff;
    border: none;
    margin-left: -3px;
}


/*   section categories */

.categories{
    padding-top: 80px;
}

.categories-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-inner__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 370px;
    padding: 20px 20px 15px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    transition: box-shadow 0.3s;
}

.categories-inner__item:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border: 1px solid transparent;
}

.categories-inner__item:hover .categories-inner__item-title{
    color: #1C62CD;
}

.categories-inner__item-info,
.categories-inner__box-img{
    width: 50%;
}

.categories-inner__box-img{
    text-align: center;
}

.categories-inner__item-img{
    max-width: 100%;
}

.categories-inner__item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories-inner__item-title{
    font-family: 'Barlow-Bold', sans-serif;
    font-size: 23px;
    line-height: 28px;
}

.categories-inner__item-read-more{
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.categories-inner__item-read-more::after{
    content: url("../img/logotip/arrowProduct.svg");
    padding-left: 3px;
}


/* style of  popular product */

.block-product{
    padding-top: 50px
}

.block-product__inner-title{
    font-family: 'Barlow-Bold', sans-serif;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
}

.block-product__tabs{
    margin-bottom: 15px;
}

.block-product__tabs-link + .block-product__tabs-link{
    margin-left: 50px;
}

.block-product__tabs-link{
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .3s;
}

.block-product__tabs-link.press-tab--active{
    border-bottom: 2px solid #1C62CD;
}

.block-product__content-product .slick-list{
    padding: 20px 0;
}

.card-product__slider{
    padding: 0;
}

.wraper__slider-link{
    position: relative;
    width: 270px;
}

.card-product__slider-link{
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    line-height: 0;
    padding: 52px 20px 31px;
    transition: 0.3s;
}

.card-product__slider-link .card-product__slider-img{
    max-width: 100%;
    display: inline;
}

.card-product__slider-title{
    font-weight: normal;
    padding: 14px 0 25px;
    font-size: 18px;
    line-height: 21px;
}

.card-product__slider-favorites{
    position: absolute;
    top: 16px;
    right: 19px;
    width: 24px;
    height: 22px;
}

.card-product__slider-favorites::after{
    content: "";
    position: absolute;
    width: 24px;
    height: 22px;
    background: url("../img/logotip/card-heart.svg")no-repeat;
    top: 0;
    right: 0;
}

.card-product__slider-favorites--active::after{
    background: url("../img/logotip/card-heart-active.svg")no-repeat;
}

.card-product__slider-basket{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1C62CD;
    border-radius: 10px 0px 0px 0px;
    padding: 10px 15px 8px;
    line-height: 0;
    cursor: pointer;
}

.card-product__slider-price{
    font-size: 30px;
    line-height: 36px;
}

.card-product__slider-hover-text{
    display: inline-block;
    background: rgba(225,225,225,0.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 18px 21px;
    position: absolute;
    width: 230px;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    line-height: 24px;
    opacity: 0;
    transition: 0.3s;
}

.card-product__slider-link:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border: 1px solid transparent;
    color:  #1C62CD;
}

.card-product__slider-link:hover .card-product__slider-hover-text{
    opacity: 1;
    color: #2F3035;
}

.card-product__slider-link:hover .card-product__notify-text{
    color: #2F3035;
}

.card-product-sale::before{
    content: "SALE";
    padding: 8px 15px;
    background-color: #1C62CD;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color:#fff;
}

.card-product__notify-text{
    display: none;
    font-family: 'SFProDisplay-Bold', sans-serif;
    line-height: 24px;
    color: #2F3035;
}

.wraper__slider-link.wraper__slider-message-notify .card-product__notify-text{
    display: block;
}

.wraper__slider-link.wraper__slider-message-notify .card-product__slider-price{
    display: none;
}
.wraper__slider-link.wraper__slider-message-notify .card-product__slider-basket{
    display: none;
}

.card-product__notify-message{
    display: none;
    color: #1C62CD;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

.wraper__slider-link.wraper__slider-message-notify .card-product__notify-message{
    display: block;
}

.wraper__slider-link.wraper__slider-message-notify .card-product__notify-message .notify-message__line{
    border-bottom: 1px solid #1C62CD;
}

.wraper__slider-link.wraper__slider-message-notify .card-product__slider-title{
    padding-bottom: 10px;
}
.wraper__slider-link.wraper__slider-message-notify .card-product__slider-link{
    padding-bottom: 58px;
}

/* settings style for slide popular produkt   */

.product-slider__next-black{
    right: 0px;
}

.product-slider__prev-black{
    left: 0px;
}
/* ------------------------- */

.block-product__show-more{
    text-align: center;
}
.block-product__show-more-link{
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    padding: 15px 45px;
    background-color: #F0F0F4; 
    margin-top: 20px;

}

/* style for block baner */

.baner{
    margin-top: 80px;
    line-height: 0;
}

.baner__link,
.baner__link-img{
    width: 100%;
    height: 100%;
}

/* style for block product recommend*/

.block-product-two{
    padding-top: 80px;
    padding-bottom: 100px;
}


/* style for page footer */

.page-footer{
    background-color: #F0F0F4;
    padding: 45px 0 30px;
}

.page-footer__bottom{
    margin-top: 45px;
    text-align: center;
    line-height: 0;
}

.page-footer__bottom-link{
    font-size: 10px;
    line-height: 12px;
    color: #48494D;
    margin: 0 40px;
}

.page-footer__top-inner{
    display: flex;
    justify-content: space-between;
}

.page-footer__top-item-title{
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
}


.page-footer__top-item-first{
    max-width: 295px;
}

.page-footer__form{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.page-footer__form-input{
    background-color: #fff;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    padding: 8px 12px;
    border: none;
}

.page-footer__form-btn{
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
    border: none;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 15px;
    background-color: #1C62CD;
}

.page-footer__form-input::placeholder{
    color:  #C4C4C4;
}

.page-footer__top-item:nth-child(2),
.page-footer__top-item:nth-child(3){
    max-width: 150px;
}

.footer__list{
    font-size: 14px;
    line-height: 17px;
}
.footer__list-item{
    margin-top: 5px;
}

.social-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 300px;
    line-height: 0;
}

.social-list__item + .social-list__item{
    margin-left: 30px;
}

.social-list__item{
    width: 30px;
    height: 30px;
}

.social-list__item-link{
    display: inline-block;
    width: 30px;
    height: 30px;
}    

.social-list__item-img{
    width: 100%;
    height: 100%;
}


/* ---------------------- */
/*  page categories */
/* ----------------------- */

/*  style for breadcrumbs */

.breadcrumbs{
    margin: 45px 0 40px;
}

.breadcrumbs__list-item{
    display: inline-block;
    font-size: 15px;
    color: #c4c4c4; 
    line-height: 18px;
    position: relative;
    padding-right: 16px;
    margin-right: 10px;
}

.breadcrumbs__list-item:not(:last-child)::after{
    content: "";
    position: absolute;
    background: url("../img/logotip/arrowProduct.svg")no-repeat;
    width: 6px;
    height: 10px;
    right: 0;
    bottom: 3px;
}

.breadcrumbs__list{
    display:flex;
    flex-wrap: nowrap;
    min-width: 700px;
}


/* style for catalog */

.catalog{
    margin-bottom: 100px;   
}

.catalog__title{
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25px;
}

.catalog__filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.catalog__filter-items-btn{
    padding: 5px 22px;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.7;
    background: #F0F0F4;
    border-radius: 3px;
    cursor: pointer;
    width: max-content;
}

.catalog__filter-items-btn + .catalog__filter-items-btn{
    margin-left: 5px;
}

.catalog__filter-select{
    display: flex;
    align-items: center;
}

.catalog__filter-select-list{
    border: 1px solid #D7D9DF;
    font-size: 14px;
    line-height: 17px;
    margin-right: 35px;
    cursor: pointer;
}

.catalog__filter-select-list .jq-selectbox__select{
    height: 30px;
}

.catalog__filter-select-list .jq-selectbox__select-text{
    padding-top: 5px;
    font-family: 'SFProDisplay-Regular', sans-serif;
}
.catalog__filter-select-list .jq-selectbox__trigger-arrow{
    top: 11px;
    left: 5px;
    right: auto;
}

.catalog__filter-select-list .jq-selectbox__dropdown{
    bottom: auto !important;
    top: 30px !important;
}


.catalog__filter-select-list .jq-selectbox__select{
    padding: 0 46px 0 20px;
}

.catalog__filter-select-btn{
    line-height: 0;
    cursor: pointer;
}

.catalog__filter-select-btn + .catalog__filter-select-btn{
    margin-left: 10px;
}

.catalog__inner{
    display: flex;
    flex-direction: row;
}

.catalog__filter-settings{
    width: 290px;
    min-width: 290px;
    margin-right: 10px;
}

.catalog__card-list{
    max-width: 870px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__card-list > .card-product__slider-item{
    margin-bottom: 30px;
} 

/* style for pagination block */
.pagination{
 margin-top: 40px;
 width: 100%;    
}

.pagination__list{
    display: flex;
    justify-content: center;
}

.pagination__list-item{
    font-family: 'Barlow-Bold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;
    padding: 5px 12px;
    margin: 0 5px;
    border: 2px solid transparent;
}

.pagination__list-item--active{
    border: 2px solid #1C62CD;
    color: #1C62CD;
}

.pagination__list-item-link{
    display: block;
}


/* ------------------------ */
/* style for filter settings */
/* -------------------------- */
.catalog__filter-tabs-link{
    margin-bottom: 50px;
}

.filter-tabs-link{
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #C4C4C4;
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
    transition: border-bottom 0.3s;
}

.filter-tabs-link:first-child{
    margin-right: 40px;
}

.filter-tabs-link.press-tab--active{
    color: #2F3035;
    border-bottom: 2px solid #1C62CD; 
}


.catalog__form-list-item-drop{
    margin-bottom: 40px;
}

.catalog__form-list-item-title{
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding-left: 25px;
    cursor: pointer; 
}

.catalog__form-title-arrow{
    position: relative;
}

.catalog__form-title-arrow::before{
    content: "";
    position: absolute;
    background: url("../img/logotip/arrowUp.svg")no-repeat;
    left: 0;
    top: 6px;
    width: 12px;
    height: 7px;
    transition: transform  0.5s;
}

.catalog__form-title-arrow--active::before{
    transform: rotateX(180deg);
}

.catalog__form-list-item-content{
    margin-top: 20px;
}

.catalog__form-list-item-box{
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.catalog__item-box-label{
    cursor: pointer;
}

.catalog__form-list-item-box:first-child{
    margin-right: 50px;
}

.catalog__form-list-item-separated .catalog__form-list-item-box:not(:last-child){
 margin-right: 20px;
} 

/* --------------------------- */
/* styles for redefining filters */
/* --------------------------- */
.jq-checkbox, .jq-radio{
    vertical-align: middle;
    background: #fff;
    box-shadow: none;
    width: 14px;
    height: 14px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    margin-right: 10px;
}

.jq-checkbox.checked, .jq-radio.checked{
    background: #1C62CD;
    border: none;
}

.jq-checkbox.focused, .jq-radio.focused{
    border: 1px solid #C4C4C4;
}

.jq-checkbox.focused.checked, .jq-radio.focused.checked{
    border:none;
}

.jq-checkbox.checked .jq-checkbox__div{
    width: 100%;
    height: 100%;
    margin: 4px 0 0 3px;
    border-bottom: none;
    border-left: none;
    transform: rotate(0deg);
    background: url("../img/logotip/checked-icon.svg")no-repeat;
}

.jq-radio.checked .jq-radio__div {
    width: 100%;
    height:100%;
    margin: 3px 0 0 3px;
    border-radius:0;
    background:none;
    box-shadow:none; 
}

.irs{
    height: 100%;
}

.irs--flat.irs-with-grid{
    height: 40px;
}

.irs--flat .irs-min, .irs--flat .irs-max {
    font-family: 'Barlow-Regular', sans-serif;
    top: auto;
    bottom: 0;
    padding: 1px 3px;
    padding-left: 26px;
    color: #2F3035;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    text-shadow: none;
    background-color:transparent;
    border-radius: 0;
}

.irs--flat .irs-min::before,
.irs--flat .irs-max::before{
    content: "";
    font-family: 'SFProDisplay-Regular', sans-serif;
    position: absolute;
    width: 14px;
    height: 18px;
    top: 1px;
    left: 0;
    color:#C4C4C4; 
}

.irs--flat .irs-min::before{
    content: "от";
}

.irs--flat .irs-max::before{
    content: "до";
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single{
    display: none;
}

.irs--flat .irs-min, 
.irs--flat .irs-max{
    visibility: visible !important;
}

.irs--flat .irs-line {
    top: 0;
    height: 1px;
    background-color: #e0e0e0;
}

.irs--flat .irs-bar {
    top: -1px;
    height: 3px;
    background-color: #1C62CD;
}

.irs--flat .irs-handle {
    top: 0;
    width: 7px;
    height: 7px;
    background-color: transparent;
    cursor: pointer;
}

.irs--flat .irs-handle>i:first-child{
    position: absolute;
    display: block;
    left: 50%;
    top: -3px;
    height: 100%;
    width: 100%;
    margin-left: -1px;
    background-color: #1C62CD;
    border-radius: 50%;
}

.irs--flat .irs-handle.state_hover>i:first-child,.irs--flat .irs-handle:hover>i:first-child{background-color:#1C62CD;}

.irs-with-grid .irs-grid{
    display: none;
}
.irs--flat .irs-grid-pol,
.irs-grid-pol.small{
    display: none;
}

.catalog__form-select-item{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #C4C4C4;
    margin-bottom: 25px;
}

.catalog__form-select-item-title{
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding-left: 25px;
}

.jq-selectbox__select {
    font-family: 'Barlow-Regular', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;
    padding: 0 30px 0 10px;
    border:1px solid transparent;
    border-bottom-color:transparent;
    border-radius:0;
    background: none;
    box-shadow:none;
    text-shadow:none;
}

.jq-selectbox__select-text{
    line-height: 17px !important;
}

.catalog__form-item-selected,
.jq-selectbox__trigger{
    border: 0;
}

.catalog__form-item-selected{
    width: 70px;
}

.catalog__form-item-selected.focused.opened.dropdown {
    border: none;
}

.jq-selectbox__select-text{
    line-height: 32px;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 6px;
    right: 12px;
    width: 12px;
    height: 8px;
    border-top: none;
    border-right: none;
    border-left: none;
    background: url("../img/logotip/arrowUp.svg")no-repeat;
}

.jq-selectbox__select:hover {
    background: transparent;
}

.jq-selectbox__select:active {
	background: #fff;
	box-shadow: none;
}

.catalog__form-list-item-select .jq-selectbox__dropdown{
    font-family: 'Barlow-Regular', sans-serif;
    border-radius: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: none;
    font-size: 14px;
    line-height: 17px;
    bottom: auto !important;
    top: 20px !important;
}

.jq-selectbox li{
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li.selected {
    background-color: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid transparent;
}

.jq-selectbox li:hover{
    background-color: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}

.brand-item-drop{
    margin-top: 40px;
}

.brend-item-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brend-item-box{
    width: 50%;
    margin-bottom: 22px;
}
.brend-item-box:first-child{
    margin-right: 0;
}

.brend-btn{
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    color: #1C62CD;
    cursor: pointer;
}

.brend-btn-text{
    border-bottom: 1px solid #1C62CD;
}

.model-item-box{
    width: 100%;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 20px;
    margin-bottom: 20px;
}

.model-item-box::placeholder{
    color: #BDBEC2;
}

.sale-item-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sale-item-box{
    font-family: 'SFProDisplay-Bold', sans-serif;
    background: #F0F0F4;
    color: #C4C4C4;
    letter-spacing: 0.07em;
    font-size: 12px;
    line-height: 14px; 
}

.sale-item-box.checkedSale{
    background: #1C62CD;
    color: #fff;
}

.sale-item-box span{
    padding: 6px 15px;
    display: inline-block;
}

.sale-item-box-btn{
    position: absolute;
    visibility: hidden;
}

.sale-item-box:first-child{
    margin-right: 0;
}

.btn-form__send{
    display: block;
    background: #F0F0F4;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #BDBEC2;
    border: none;
    padding: 17px 85px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 15px;
}

.additionally-filter{
    margin-bottom: 15px;
}

.additionally-filter__title{
    width: 197px;
    display:block;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding-right: 30px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.additionally-filter__title-arrow{
    position: relative;
}

.additionally-filter__title-arrow::after{
    content: "";
    width: 12px;
    height: 7px;
    position: absolute;
    right: 0;
    top: 5px;
    background: url("../../img/logotip/arrowUp.svg")no-repeat;
    transition: transform 0.3s;
}

.additionally-filter__title-arrow--active::after{
    transform: rotateX(180deg);
}

.additionally-filter__content{
    display: none;
    margin-top: 30px;
}

.btn-form__reset{
    display: block;
    margin: 0 auto;
    text-align: center;
    background: none;
    font-size: 13px;
    line-height: 16px;
    color: #C4C4C4;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

/* ---------------------- */
/* ---------------------- */


/* styles for  card product page*/

.card-block{
    margin-bottom: 80px;
}

.card-block__inner{
    display: flex;
    justify-content: space-between;
}

.card-block__inner-item-img{
    width: 500px;
    padding-top: 60px;
    text-align: center;
    position: relative;
}

.card-block__img-card{
    width: 100%;
    height: auto;
}

.card-block__price-old{
    font-family: 'Barlow-Regular', sans-serif;
    font-size: 30px;
    line-height: 36px;
    opacity: 0.6;
    margin-top: 10px;
    margin-bottom: 5px;    
}

.card-block__price-old-line{
    background: url("../img/logotip/old-line.svg")no-repeat;
    background-size: cover;
}

.card-block__price-new{
    font-family: 'Barlow-Bold', sans-serif;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 15px;
}

.card-block__item-link{
    font-size: 15px;
    line-height: 18px;
    color: #1C62CD;
}

.card-block__inner-item-content{
    max-width: 570px;
}

.card-block__item-content-title{
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
}

.card-block__code{
    font-size: 15px;
    line-height: 18px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.card-block__panel-icons{
    display:flex;
    align-items: center;
    line-height: 0;
    margin-bottom: 50px;
}

.card-block-icon{
    margin-right: 25px;
    line-height: 0;
    max-height: 28px;
}

.card-block-icon-img{
    height: 100%;
}

.card-block__tab-link{
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    opacity: 0.6;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.card-block__tab-link:first-child{
    margin-right: 35px;
}

.card-block__tab-link.press-tab--active{
    opacity: 1;
    font-family: 'SFProDisplay-Bold', sans-serif;
    border-bottom: 2px solid #1C62CD;
}

.card-block__inner-item-tabs{
    max-width: 435px;
}

.card-block__tabs-container{
    margin-top: 20px;
}

.card-block__description{
    width: 100%;
    line-height: 24px;
    border-collapse: collapse;
}

.table__line{
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    height: 40px;
}

.table_col-2{
    width: 135px;
}

.card-block__description-link{
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    color: #1C62CD;
    margin-top: 20px;
}

.card-block__description-buy{
    display: block;
    margin-top: 45px;
    background: #1C62CD;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 50px;
    cursor: pointer;
}

.card-block__inner-item-img.card-product-sale::before{
    width: 95px;
    height: 45px;
    letter-spacing: 0.12em;
    font-size: 15px;
    line-height: 18px;
    padding: 13px 25px;
    border-radius: 3px;
}


/* style for section description and delivery condition */

.about-product__tabs{
    background: #F0F0F4;
    padding: 17px 33px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.about-product__tab-link{
    padding: 5px;
    padding-bottom: 3px;
    color: rgba(47, 48, 53, 0.6);
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

.about-product__tab-link.press-tab--active{
    color: rgba(47, 48, 53, 1);
    border-bottom: 2px solid #1C62CD;
}

.about-product__form-panel{
    margin-bottom: 10px;
}

.about-product__form-panel-serch,
.about-product__form-panel-radio{
    color: rgba(47, 48, 53, 0.7);
    font-size: 17px;
    line-height: 20px;
}

.about-product__input-panel-serch{
    min-width: 310px;
    border-radius: 3px;
    border: none;
    padding: 9px 28px 9px 17px;
    position: relative;
    background:#F0F0F4 url("../../img/logotip/Search.svg")no-repeat;
    background-position: 95% 55%;
    margin-right: 155px;
    margin-left: 20px;
}

.about-product__form-panel-radio{
    cursor: pointer;
}

.about-product__form-panel-radio + .about-product__form-panel-radio{
    margin-left: 55px; 
}

.about-product__form-panel-radio .jq-checkbox, .jq-radio{
    vertical-align: -10%;
    border: 1px solid #c4c4c4;
}

.about-product__form-panel-radio .jq-radio.checked{
    border: 2px solid #1C62CD;
    background: none;
}

.about-product__form-panel-radio .jq-radio.checked .jq-radio__div{
    background: #1C62CD;
    margin: 2px 0 0 2px;
    width: 6px;
    height: 6px;
}

.about-product__form-list{
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    color: rgba(47, 48, 53, 0.7);
    border-collapse: collapse;
    margin-top: 40px;
}

.about-product__row-title{
    text-align: left;
    vertical-align: top;
    color: rgb(47, 48, 53);
    font-size: 20px;
    line-height: 24px;
    height: 30px;
}

.about-product__table-row{
    height: 90px;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
}

.opening-hours{
    margin-bottom: 10px;
}

.opening-hours__day{
    width: 65px;
    display: inline-block;
}

.col-street{
    max-width: 180px;
    display: inline-block;
}

.about-product__table-btn{
    background: #1C62CD;
    border-radius: 3px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.12em;
    color: #fff;
    padding: 10px 40px;
    border: none;
}

.about-product__col-btn{
    text-align: right;
}

