a{text-decoration: none;}ul,dl{margin: 0;padding: 0;}li{list-style: none;}*,*::before,*::after{box-sizing: border-box;}h1,h2,h3,h4,h5,h6,p,dd{margin: 0;}a{-webkit-tap-highlight-color: transparent;}

/*  fundamental style */
html, body{
    font-size: 20px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'SFProDisplay-Regular', sans-serif;
    color: #2F3035;
}

.btn-all{
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    color:  #2F3035;
    display: inline-block;
}

button{
    border: 0;
    background: none;
    padding: 0;
    outline: 0;
}

.price-bold{
    font-family: 'Barlow-Bold', sans-serif;
}
.price-regular{
    font-family: 'Barlow-Regular', sans-serif;
}
/* end  fundamental style */


/*  style for header */

.page-header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: 'SFProDisplay-Bold', sans-serif;
}

.menu__list-item{
    display: inline-block;
}

.menu__list-item + .menu__list-item{
    padding-left: 50px;
}

.location{
    width: 265px;
    line-height: 45px;
    padding-left: 30px;
    margin-right: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}

.location::before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background:url("../img/logotip/location.svg")no-repeat;
    background-position: top center;
}

.user-panel{
    display: flex;
    justify-content:space-between;
    align-items: center;
    line-height: 0; 
}

.user-panel__item{
    margin-right: 10px;
}

.user-panel__item:last-child{
    margin-right: 15px;
}

.user-panel__link{
    display: inline-block;
}

.link-basket{
    position: relative;
}

.link-basket__num{
    width: 20px;
    height:20px;
    background-color: #1C62CD;
    position: absolute;
    color: #fff;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    bottom: -5px;
    right: -15px;
    border-radius: 50%;
}

.menu-categories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F0F4;
    line-height: 0;
}

.menu-categories__item{
    position: relative;
}

.menu-categories__link{
    display: inline-block;
    max-width: 130px;
    padding: 15px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
}

.menu-categories__link::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #1C62CD;
    left: auto;
    right: 0;
    bottom: -3px;
    transition: .3s;
}

.menu-categories__link:hover::after{
    content: "";
    left: 0;
    right: auto;
    width: 100%;
}

.menu-categories__link:hover{
    color: #070707;
}


/*  start section slide */

.block-slider{
    padding-top: 80px;
}

.block-slider__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-slider__slider{
    max-width: 870px;
}

.block-slider__slider-item{
    display: block;
    width: 870px;
    height: 400px;
}

.block-slider__slider-img{
    width: 100%;
    height: 100%;
}


/* redefine style for slide arrow and dots */


.block-slider__btn-slide,
.block-product__btn-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: none;
    border: 0;
    outline: 0;
    line-height: 0; 
}

.block-slider__next{
    right: 15px;
}
.block-slider__prev{
    left: 15px;
}

.slick-dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
    font-size: 0;
}

.slick-dots > li > button {
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
}

.slick-dots .slick-active > button{
    background-color: #fff;
}
/* ------------------------------------ */

.sale-card{
    display: block;
    max-width: 265px;
    text-align: center;
    position: relative;
    border: 1px solid #CDCDCD;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-card__slide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-card__info{
    padding: 8px 20px;
    color: #fff;
    background-color: #1C62CD;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sale-card__price-new{
    color: #1C62CD;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 7px;
    margin-right: 8px;
    text-align: right;
    padding-right: 20px;
    position: relative;
    
}

.sale-card__price-new::after{
    content: "";
    width: 15px;
    height: 35px;
    position: absolute;
    right: 0;
    background: url("../img/logotip/rub.svg")no-repeat;
    background-position-y: center;
}

.sale-card__price-old{
    color: #C4C4C4;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    padding-right: 15px;
    position: relative;
    margin-right: 5px;
}

.sale-card__price-old::before{
    content: "";
    position: absolute;
    top: 0; 
    right: -15px;
    width: 100%;
    height: 100%;
    background: url("../img/logotip/oldprice.svg")no-repeat;    
    background-size: cover;
    background-position: center;
}

.sale-card__price-old::after{
    content: "";
    position: absolute;
    right: 0;
    width: 8px;
    height: 17px;
    background: url("../img/logotip/rubgrey.svg")no-repeat;
    background-position-y: center;
}

.sale-card__img{
    align-self: center;
}

.sale-card__img-title{
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}

.sale-card__sale-limit{
    padding: 25px 0;
    background-color: #F0F0F4;
}

.sale-limit__date{
    color: #1C62CD;
    font-family: 'Barlow-Bold', sans-serif;
}


/*  section search and tabs */

.search-block{
    padding-top: 80px;
}

.search-block__tabs-btn{
    margin-bottom: 25px;
}

.tabs-btn__link{
    padding: 10px 25px;
    border-radius: 5px;
}

.tabs-btn__link.press-tab--active{
    background-color: #F0F0F4;
}

.search-block__content,
.search-block__content-item,
.content-item__form{
    width: 100%;
}

.content-item__form{
    display: flex;
    flex-direction: row;
}

/* style for all block tabs */
.press-tab-content{
    display: none;
}
.press-tab-content.press-tab-content--active{
    display: block;
}
/* ------------------------- */
.content-item__form-text{
    width: 100%;
    background-color: #F0F0F4;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 19px;
}

.content-item__form-text::placeholder{
    color: #656464;
}

.content-item__form-btn{
    font-family: 'SFProDisplay-Bold', sans-serif;
    background-color: #1C62CD;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 17px 40px 15px;
    color: #fff;
    border: none;
    margin-left: -3px;
}


/*   section categories */

.categories{
    padding-top: 80px;
}

.categories-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-inner__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 370px;
    padding: 20px 20px 15px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    transition: box-shadow 0.3s;
}

.categories-inner__item:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border: 1px solid transparent;
}

.categories-inner__item:hover .categories-inner__item-title{
    color: #1C62CD;
}

.categories-inner__item-info,
.categories-inner__box-img{
    width: 50%;
}

.categories-inner__box-img{
    text-align: center;
}

.categories-inner__item-img{
    max-width: 100%;
}

.categories-inner__item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories-inner__item-title{
    font-family: 'Barlow-Bold', sans-serif;
    font-size: 23px;
    line-height: 28px;
}

.categories-inner__item-read-more{
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.categories-inner__item-read-more::after{
    content: url("../img/logotip/arrowProduct.svg");
    padding-left: 3px;
}


/* style of  popular product */

.block-product{
    padding-top: 50px
}

.block-product__inner-title{
    font-family: 'Barlow-Bold', sans-serif;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
}

.block-product__tabs{
    margin-bottom: 25px;
}

.block-product__tabs-link + .block-product__tabs-link{
    margin-left: 50px;
}

.block-product__tabs-link{
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .3s;
}

.block-product__tabs-link.press-tab--active{
    border-bottom: 2px solid #1C62CD;
}

.wraper__slider-link{
    position: relative;
    width: 271px;
}

.card-product__slider-link{
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    line-height: 0;
    padding: 52px 20px 31px;
    transition: 0.3s;
}

.card-product__slider-link .card-product__slider-img{
    max-width: 100%;
    display: inline;
}

.card-product__slider-title{
    font-weight: normal;
    padding: 14px 0 25px;
    line-height: 21px;
}

.card-product__slider-favorites{
    position: absolute;
    top: 16px;
    right: 19px;
    width: 24px;
    height: 22px;
}

.card-product__slider-favorites::after{
    content: "";
    position: absolute;
    width: 24px;
    height: 22px;
    background: url("../img/logotip/card-heart.svg")no-repeat;
    top: 0;
    right: 0;
}

.card-product__slider-favorites--active::after{
    background: url("../img/logotip/card-heart-active.svg")no-repeat;
}

.card-product__slider-basket{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1C62CD;
    border-radius: 10px 0px 0px 0px;
    padding: 10px 15px 8px;
    line-height: 0;
    cursor: pointer;
}

.card-product__slider-price{
    font-size: 30px;
    line-height: 36px;
}

.card-product__slider-hover-text{
    display: inline-block;
    background: rgba(225,225,225,0.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 18px 21px;
    position: absolute;
    top: 30%;
    z-index: 10;
    line-height: 24px;
    opacity: 0;
    transition: 0.3s;
}

.card-product__slider-link:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border: 1px solid transparent;
    color:  #1C62CD;
}

.card-product__slider-link:hover .card-product__slider-hover-text{
    opacity: 1;
    color: #2F3035;
}

.card-product__slider-link:hover .card-product__notify-text{
    color: #2F3035;
}

.card-product-sale::before{
    content: "SALE";
    padding: 8px 15px;
    background-color: #1C62CD;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color:#fff;
}

.card-product__notify-text{
    display: none;
    font-family: 'SFProDisplay-Bold', sans-serif;
    line-height: 24px;
    color: #2F3035;
}

.wraper__slider-link.wraper__slider-message-notify .card-product__notify-text{
    display: block;
}

.wraper__slider-link.wraper__slider-message-notify .card-product__slider-price{
    display: none;
}
.wraper__slider-link.wraper__slider-message-notify .card-product__slider-basket{
    display: none;
}

.card-product__notify-message{
    display: none;
    color: #1C62CD;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

.wraper__slider-link.wraper__slider-message-notify .card-product__notify-message{
    display: block;
}

.wraper__slider-link.wraper__slider-message-notify .card-product__notify-message .notify-message__line{
    border-bottom: 1px solid #1C62CD;
}

.wraper__slider-link.wraper__slider-message-notify .card-product__slider-title{
    padding-bottom: 10px;
}
.wraper__slider-link.wraper__slider-message-notify .card-product__slider-link{
    padding-bottom: 58px;
}

/* settings style for slide popular produkt   */

.product-slider__next-black{
    right: 0px;
}

.product-slider__prev-black{
    left: 0px;
}
/* ------------------------- */

.block-product__show-more{
    text-align: center;
}
.block-product__show-more-link{
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    padding: 15px 45px;
    background-color: #F0F0F4; 
    margin-top: 20px;

}

/* style for block baner */

.baner{
    margin-top: 80px;
    line-height: 0;
}

/* style for block product */

.block-product-two{
    padding-top: 80px;
}